body {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  max-width: 80ch;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  margin-bottom: 1em;
}

h2, h3 {
  margin-top: 1em;
  margin-bottom: .5em;
}

header h1 {
  margin-bottom: .2em;
}

p, ul, code {
  margin-bottom: 1em;
}

p:has(+pre) {
  margin-bottom: 2em;
}

pre + p {
  margin-top: 2em;
}

.page_header {
  nav.main {
    margin-bottom: 2em;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
    }

    li+li {
      margin-left: 1em;
    }
  }
}

.post_header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid gray;
  margin-bottom: 2em;

  h1 {
    font-size: 3rem;
    padding: .2em .5em;
    margin: 0;
    border-right: 4px solid gray;
  }

  nav {
    margin: 0;
    width: 100%;

    ul {
      margin-bottom: 0;
      display: flex;
      padding: 0;
    }
    li {
      margin: 0;
      flex-grow: 1;
      list-style: none;
      text-align: center;
    }
  }
}
