{% extends './base.njk' %}

{% block header %}
  <header class="page_header">
    <h1>Rizaldi's Personal Website</h1>
    {% include 'main-nav.html' %}
  </header>
{% endblock %}

{% block body %}

<main>
{{ content | safe }}
</main>

{% endblock %}

