{% extends "./base.njk" %}

{% block additionalCss %}
  {% include 'post.css' %}
{% endblock %}

{% block header %}
  <header class="post_header">
    {% set showHomeInNav = true %}
    {% include 'main-nav.html' %}
  </header>
{% endblock %}

{% block body %}
<main>
  <header class="post_title">
    <h1>{{ title }}</h1>

    <section class="post_metadata">
      <p class="post_date">{{ date | postDate }}</p>
      <ul>
        {% for tag in (tags | postTags) %}
        <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </section>
  </header>
  {{ content | safe }}
</main>

<footer>
&copy; 2024 Rizaldi Martaputra
</footer>
{% endblock %}
